---
layout: compress
---
<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    {% include head.html %}
</head>
<body>
    {% include nav.html %}
    <!-- Header -->
    <header class="header flex" role="banner">
        <div class="container animated fadeIn">
            <div class="row">
                    <a href="{{ site.url }}">
                        <img src="{{ site.logo }}" class="img-circle zoombtn animated rotateIn">
                    </a>
                    <h3 class="title">
                        <p class="zoombtn" href="{{ site.url }}">
                        	<p style="font-size:1.2rem;font-weight:300">{{ site.title }}</p>
			            </a>
                    </h3>
                    <hr class="hr-line">
                    <h3 class="title">
                        <!--<a href="{{ site.url }}">-->
                        	<p style="font-size:1rem;font-weight:300">{{ site.bio }}</p>
			            <!--</a>-->
                    </h3>
                    <!--- --->
                  <hr class="hr-line">
                  <h3 class="title">
                         <a class="btn zoombtn" href="{{ site.url }}/7Sisters/">
                         Great Danes
                         </a>
                  </h3>
                <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/BreedingPhilosophy/">
                    Breeding Philosophy
                    </a>
                </h3>
                <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/Litters/">
                    Litters
                    </a>
                </h3>
                <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/Resources/">
                    Resources
                    </a>
                </h3>
                <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/CommonQuestions/">
                    Common Questions
                    </a>
                </h3>
                <h3 class="title">
                    <a class="btn zoombtn" href="{{ site.url }}/about/">
                    <FONT COLOR="#bf141c">7</FONT>Sisters Farm
                    </a>        
                </h3>
                {% include social-links.html %}
                <div class="row">
                    <hr class="hr-line">
                    <FONT COLOR="#bf141c">7</FONT>Sisters Social Media
                    <blockquote class="tiktok-embed" cite="https://www.tiktok.com/@7sistersgreatdanes" data-unique-id="7sistersgreatdanes" data-embed-type="creator" style="max-width: 780px; min-width: 288px;" > <section> <a target="_blank" href="https://www.tiktok.com/@7sistersgreatdanes?refer=creator_embed">@7sistersgreatdanes</a> </section> </blockquote> <script async src="https://www.tiktok.com/embed.js"></script>
            </div>
            </div>
        </div>
    </header>
    

    {% include scripts.html %}
</body>
    

</html>
